*{
    margin:0;
}
img{
    width:99.9%;
    height:99.5vh;
    background-size: cover;
    opacity: 0.35;
}
h1{
    color:brown;
    font-weight: bolder;
    font-size: 6em;
    font-style: italic;
    font-family: 'Trebuchet MS';
    text-align:center;
    padding:1%;
    position:absolute;
    top:1vh;
    left:22%;
}
#box{
    position:absolute;
    top:22vh;
    left:22vw;
    width:48.6vw;
    height:15vh;
    border:12px solid black;
    z-index: 1;
    background-color: aliceblue;
    border-radius:50px;
}
.calculator{
    border:2px solid red;
    border-radius:50px;
    height:70vh;
    width:50vw;
    position: absolute;
    top:22vh;
    left:22vw;
    background-color:rgb(245, 238, 245);
}
.col1,.col2,.col3,.col4{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-align: center;
    width:5vw;
    height:45vh;
    margin:140px 0px 0px 10px;
}
button{
    padding:15px 55px;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    border-radius:20px;
    margin-bottom: 15px;
    border:none;
    color: black;
    font-size: larger;
    background-color: rgb(156, 235, 156);
}
button:hover{
    box-shadow: 5px 5px;
    transform: translateY(3px);
}
span{
    font-size: small;
}
.row{
    display:flex;
    margin:5px ;
    justify-content: space-around;
}
footer{
    position:absolute;
    top:95vh;
    left:38vw;
    font-size: larger;
    color: blue;
}